input#Input1{
    position: absolute;
    z-index: 0;
    top: 20px;
}
input#Input2{
    position: absolute;
    z-index: 0;
    top: 50px;
}
input#Input3{
    position: absolute;
    z-index: 0;
    top: 80px;
}
input#Input4{
    position: absolute;
    z-index: 0;
    top: 110px;
}
input#Input5{
    position: absolute;
    z-index: 0;
    top: 140px;
}
button#BtnCalcular{
    position: absolute;
    z-index: 0;
    top: 180px;
    left: 60px;
}
p#Output1{
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 195px;
}
p#Output2{
    position: absolute;
    z-index: 0;
    top: 33px;
    left: 195px;
}
p#Output3{
    position: absolute;
    z-index: 0;
    top: 65px;
    left: 195px;
}
p#Output4{
    position: absolute;
    z-index: 0;
    top: 95px;
    left: 195px;
}
p#Output5{
    position: absolute;
    z-index: 0;
    top: 124px;
    left: 195px;
}